body {
  background-color: #dfe4ea;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 15px 30px;
  border-radius: 7px;
  max-width: 500px;
  margin-top: 30px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 50px;
}
.head-form {
  text-align: center;
}
.head-form p {
  font-weight: 500;
  color: #747d8c;
}
.signin-with-fb {
  padding: 10px 0 30px;
  border-bottom: 3px solid #ebebeb;
  position: relative;
  margin-bottom: 30px;
}
.signin-with-fb::after {
  content: 'Hoặc';
  position: absolute;
  background-color: #FFF;
  padding: 5px 25px;
  bottom: 0;
  left: 50%;
  color: #747d8c;
  font-weight: 500;

  transform: translate(-50%, 18px);
}

.msg-alert {
  color: red !important;
}
.msg-warning {
  color: #e67e22 !important;
}
.msg-success {
  color: #27ae60 !important;
}
small.form-text {
  font-size: 14px;
}
